* {
    margin: 0px;
    font-family: 'Varela Round',
    sans-serif;
}
navbar {
    background: rgb(0, 133, 255);
    color: white;
    display: flex;
    font-size: 50px;
    position: fixed;
    width: 100%;
}
#homePageButton {
    display: flex;
}
#navbarOptions {
    padding-left: 25px;
    padding-top: 10px;
    font-size: 25px;
}
.optTextLink {
    text-decoration: none;
    color: white;
}
.optTextLink + .optTextLink {
    margin-left: 10px;
    /* doing all this gets the padding b/w the text */
}

#firstHeadphoneDisplay {
    text-align: center;
    font-size: 50px;
}

#secondHeadphoneDisplay {
    margin-left: 10px;
    font-size: 25px;
}

contact-us-text {
    display: block;
    margin-left: 10px;
}

#contactForm {
    margin-left: 10px;
    font-family: 'Varela Round',
    sans-serif;
}

.warningFormIncomplete {
    margin-left: 10px;
    color: red;
}


.circle {
    background-color: rgb(255, 0, 238);
    border: 1px solid rgba(0, 0, 0, 0);

    height: 50px;
    width: 50px;

    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;   

    display: inline-block;
}

.jqueryHeadphone {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 50px;
}

.productInfo  {
    font-size: 30px;
    margin-left: 10px;
    margin-right: 300px;
}

/* font-family: 'Alegreya Sans SC', sans-serif; */

#comapnyLogo {
    position: fixed;
}

#establishEthos {
    margin-left: 10px;
    display: flex;
    margin-right: 250px;
}

.nameTitles {
    margin-left: 10px;
    text-decoration: underline;
    font-family: 'Oswald',
    sans-serif;
    font-size: 25px;
}